* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 width: 100%;
 font-family: monospace;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(./Assets/abstract-background-with-smooth-lines-beige-white-colors_743855-32255.jpg);
    padding: 20px;
    .create{
        background: rgba(255, 255, 255, 0.478);
        padding: 20px;
        border-radius: 10px;
        form {
            padding: 15px;
            display: flex;
            background: linear-gradient(45deg, rgba(255, 0, 0, 0.541), rgb(255, 255, 255));
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.348);

            #date-time {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                #date-inp {
                    padding: 5px;
                }
            }

            #task-inp {
                padding: 10px;
            }

            button {
                border-radius: 5px;
                border: none;
                color: rgb(4, 54, 4);
                font-weight: 600;
                background: linear-gradient(45deg, rgb(134, 220, 134), rgb(175, 238, 175));
                width: 130px;
                padding: 10px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.348);
            }

            button:active {
                color: white;
                font-weight: 600;
                background: linear-gradient(45deg, rgb(134, 220, 134), rgb(175, 238, 175));
                transform: translateY(-3px);
                box-shadow: 5px 5px 10px rgba(3, 246, 20, 0.348);
                scale: 0.95;
            }
        }
    }

    .list{
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .task {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            justify-content: space-between;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.348);
            border-radius: 10px;
            padding: 10px;
            background: linear-gradient(45deg,  rgb(255, 255, 255), rgba(255, 0, 0, 0.541));

            #date {
                font-size: 0.9em;
                font-weight: 600;
            }

            .del {
                /* padding: 5px 10px;
                border-radius: 5px;
                background-color: rgb(155, 40, 40);
                color: white;
                font-weight: 600; */
                border-radius: 5px;
                border: none;
                color: rgb(255, 255, 255);
                font-weight: 600;
                background-color: (rgb(126, 42, 42));
                width: 130px;
                padding: 10px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.842);
                transition: scale ease-in 0.3sec;
            }

            .del:active {
                /* scale: 0.95;
                background-color: red; */
                color: black;
                font-weight: 600;
                background: linear-gradient(45deg, rgb(246, 167, 167), rgb(203, 132, 132));
                transform: translateY(-3px);
                box-shadow: 5px 5px 10px rgb(50, 13, 13);
                scale: 0.95;
            }
        }
    }
}